.carousel-item {
  background: black;
}

p{
    max-width: 700px;
}
.wraptocenter {    display: table-cell;    text-align: center;    vertical-align: middle;    width: auto;    height: 300px;}.wraptocenter * {    vertical-align: middle;}
  
.carousel-item img{
  max-width: 100%;
  max-height: 300px;
}
